html{
  position: relative;
  min-height: 100%;
}
body{
  /*background-image: url(bike.jpg);*/
  background-repeat: no-repeat;
  background-size: cover;
  /*font-family: cursive;*/
}
.jumbotron{
  text-align: center;
  font-weight: bolder;
  background-color: inherit;
}
#show-categories {
  display: none;
}
.specialty-categories {
  cursor: pointer;
  color: blue;
}
.specialty-categories:hover {
  text-decoration: underline;
}
#show-specialties {
  display: none;
}
#show-doctors {
  display: none;
}
