html{
  position: relative;
  min-height: 100%;
}
body{
  background-image: url(background1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
h1 {
  color: black;
  /*text-align: center;*/
  font-weight: bolder;
}
h3{
}
#show-categories {
  display: none;
}
.specialty-categories {
  cursor: pointer;
  color: blue;
}
.specialty-categories:hover {
  text-decoration: underline;
}
#show-specialties {
  display: none;
}
ul#specialty-list li {
  cursor: pointer;
  color: blue;
}
ul#doctor-list li:hover {
  text-decoration: underline;
}
ul#doctor-list li {
  cursor: pointer;
  color: blue;
}
#show-doctors {
  display: none;
}
#show-doctor-detail {
  display: none;
}
